<div class="form-wrapper">
  <div class="col-md-12"><p>
    <%= link_to "Zpět", :back, class: "btn btn-primary btn-lg" %>
  </p>
  </div>
  
	<div class="form-login col-md-12">
	  <h2>Můj profil</h2>
	  <br>
	  <hr>
    <div class="col-md-4 col-md-offset-4">
      
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>
      
        <div class="form-inputs">
          <%= f.input :first_name, required: false, label: 'Jméno', autofocus: true %>
          <%= f.input :last_name, required: false, label: 'Příjmení' %>
          <%= f.input :email, required: false, label: 'Email', disabled: true %>
      
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          <br><hr>
          <div class="password-change">
            <h4>Zde můžete změnit své heslo :</h4>
            <br>
            <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
            <%= f.input :password_confirmation, required: false %>
            <br><hr>
          </div>
            <%= f.input :current_password, hint: "Pro uložení změn zadejte současné heslo!", required: true %>
        </div>
      
        <div class="form-actions">
          <%= f.button :submit, "Uložit změny", class: "btn btn-primary btn-lg btn-block" %>
        </div>
      <% end %>
    </div>
	</div>
</div>