<div class="form-wrapper">
  <div class="form-login col-md-4 col-md-offset-4">
    
    <h2>Zapomněli jste své heslo?</h2>
    
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>
      <br>
      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>
      </div>
    
      <div class="form-actions">
        <%= f.button :submit, "Resetovat mé heslo" %>
      </div>
    <% end %>
    <br>
    <%= render "devise/shared/links" %>
  </div>
</div>
    